
@{
    ViewData["Title"] = "Index";
}
<h1>Users List</h1>
<script src="~/lib/jquery/jquery.min.js"></script>
<script src="~/lib/jqueryui/jquery-ui.min.js"></script>
<link href="~/lib/jqueryui/themes/base/jquery-ui.css" rel="stylesheet" />
<script src="~/lib/jtable/jquery.jtable.js"></script>
<link href="~/lib/jtable/themes/metro/blue/jtable.css" rel="stylesheet" />
<link href="~/lib/jQuery-Validation-Engine/validationEngine.jquery.min.css" rel="stylesheet" />
<script src="~/lib/jQuery-Validation-Engine/jquery.validationEngine.js"></script>
<script src="~/lib/jQuery-Validation-Engine/languages/jquery.validationEngine-en.js"></script>

<div class="filtering">
    <form>
        <input type="text" name="search" id="search" placeholder="search by name or department" />
    </form>
</div>

<div id="userTable"></div>


<script type="text/javascript">
    $(document).ready(function () {
        $('#userTable').jtable({
            title: 'Users List', // title of table users list
            paging: true, // paginate true
            pageSize: 10, // default page size 10
            defaultSorting: 'Name ASC',
            selecting: true, //Enable selecting
            multiselect: true, //Allow multiple selecting
            selectingCheckboxes: true, //Show checkboxes on first column
            pageSize:50,
            //selectOnRowClick: false, //Enable this to only select using checkboxes
            sorting: true,
            actions: {
                listAction: '/User/UserList',
                createAction: '/User/add',
                updateAction: '/User/edit',
                deleteAction: '/User/delete'
            },
            fields: {
                Id: {
                    key: true,
                    create: false,
                    edit: false,
                    list: false
                },
                Name: {
                    title: 'Name',
                    width: '40%',
                    inputClass: 'validate[required]'
                },
                Department: {
                    title: 'Department',
                    width: '20%',
                    inputClass: 'validate[required]'
                }
            },
            //Initialize validation logic when a form is created
            formCreated: function (event, data) {
                data.form.validationEngine();
            },
            //Validate form when it is being submitted
            formSubmitting: function (event, data) {
                return data.form.validationEngine('validate');
            },
            //Dispose validation logic when form is closed
            formClosed: function (event, data) {
                data.form.validationEngine('hide');
                data.form.validationEngine('detach');
            }
        });

        $('#userTable').jtable('load');



        //Re-load records when user click 'load records' button.
        $('#search').on('keyup', function (e) {
            e.preventDefault();
            $('#userTable').jtable('load', {
                search: $('#search').val(),
            });
        });
    });
</script>

